[submodule "SwiftPods/SwiftJSONMapper"]
	path = SwiftPods/SwiftJSONMapper
	url = https://github.com/tomekc/SwiftJSONMapper.git
[submodule "SwiftPods/Swactor"]
	path = SwiftPods/Swactor
	url = https://github.com/tomekc/SwiftActors.git
